@model List<Bitirme.Domain.Entities.Groups>
@{
    ViewData["Title"] = "ListGroup";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a class="btn btn-primary" href="/Admin/AdminGroup/AddGroup">Group Ekle</a>
<br />
<br />
<table class="table table-bordered" id="table">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Oluşturulma Tarihi</th>
        <th>Oluşturan</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroupName</td>
            <td>@item.GroupDescription</td>
            <td>@item.CreationDate</td>
            <td>@item.CreatorUserID</td>
            <td>@Html.ActionLink("Sil", "Delete", "AdminGroup", new { id = item.Id },new {@class="btn btn-danger",onclick="return confirm ('silmek istiyormsunuz?')"})</td>

        </tr>
    }
</table>

<a class="btn btn-primary" href="/Admin/Admin/Index">Admin Ana Sayfa</a>