@model List<Bitirme.Domain.Entities.Events>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a class="btn btn-primary" href="/Admin/AdminEvents/Create">Etkinlik Ekle</a>
<br />
<br />
<table class="table table-bordered" id="table">
    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Oluşturulma Tarihi</th>
        <th>Oluşturan</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.CreateDate</td>
            <td>@item.Users</td>
            <td>@Html.ActionLink("Sil", "Delete", "AdminEvents", new { id = item.Id },new {@class="btn btn-danger",onclick="return confirm ('silmek istiyormsunuz?')"})</td>
            
        </tr>
    }
    
</table>

<a class="btn btn-primary" href="/Admin/Admin/Index">Admin Ana Sayfa</a>
